<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>employee profile</title>
    
</head>
<body>
<h1>employee profile</h1>
<div class="container">
<table>
	<tr>
		<td>
			Code : 
		</td>
		<td>
			<h3 th:text="${employees.empCode}">code</h3>
		</td>
	</tr>
	<tr>
		<td>
			First Name :
		</td>
		<td>
			<h3 th:text="${employees.firstName}">first name</h3>
		</td>
	</tr>
	<tr>
		<td>
			Last Name :
		</td>
		<td>
			<h3 th:text="${employees.lastName}">last name</h3>
		</td>
	</tr>
	<tr>
		<td>
			Email Id :
		</td>
		<td>
			<h3 th:text="${employees.emailId}">email id</h3>
		</td>
	</tr>
	<tr>
		<td>
			 Manager :
		</td>
		<td>
			<h3 th:text="${employees.manager}">manager</h3>
		</td>
	</tr>
	<tr>
		<td>
			Project Title :
		</td>
		<td>
			<h3 th:text="${employees.projectTitle}">project Title</h3>
		</td>
	</tr>
	<tr>
		<td>
			Team Lead :
		</td>
		<td>
			<h3 th:text="${employees.teamLeader}">team leader</h3>
	
		</td>
	</tr>
</table>
    </div>
</body>
</html>