
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

}

.cover_container {
    position: relative;
    widows: 100% !important;
}

.logo-container {
    position: absolute;
    top: 30px;
    left: 140px;
}
#background_image{
    width:100%;
    height:950px;
}

#header_list li{
    display: inline;
    color:white;
    margin:10px;
    font-family:palatino;
    font-size:15px;
}

.menu_list{
    position: absolute;
    top:30px;
    left:510px;
}

#logo_list li{
    display:inline;
    margin:10px;
}

.icon_logo{
    height: 30px;
     width:30px;
}

.social_logos{
    position: absolute;
    top:30px;
    left:1050px;
}

#first_heading{
    position: absolute;
    top:180px;
    left:200px;
    width:50%;
}

.heading_text{
    color:white;
    font-size: 50px;
}

#cover_phone1{
    position: absolute;
    top:130px;
    left:700px;
    width:50%;
}

#phone1_cover{
    height:450px;
    width:450px;
}

#button_list li{
    display:inline;
    margin:10px;
}

.cover_buttons{
    position: absolute;
    top:340px;
    left:200px;
    width:50%;
}

.btn{
    display:inline-block;
    margin:-8px;
    width: 80px;
    height: 15px;
    background:#fc6a45;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding:13px;
}

#btn_text{
    font-family:arial;
    font-size:5px;
}

#feature_button{
    background:blue !important;
}


#feature_heading_container{
    width:300px;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#feature_heading_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align: center;
    color:#668cff;
}

#only_necessary{
    width:180px;
    margin :12px auto;

}

#only_necessary_text{
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;   
    text-align:center;
}

.img_features_container{
    display: flex;
    flex-wrap:nowrap;
    padding-left: 40px;
    padding-right: 40px;
}

.image_feature_usuabality{
    width:50px;
    height:50px;
    margin-right:15px;
}

.feature_para{
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;  
    align-content: justify;
    font-size: 12px; 
}

#image_middle_cover{
    width:800px;
    margin-left:250px;
    margin-top:50px;
}

#image_feature_middle_cover_container{
    margin-top:0 auto;

}

#brightest_image_container{
    margin-top:15px;
}

.middle_page_screen_container{
    display: flex;
    flex-wrap:nowrap;
    margin-top:100px;
}

.sereen_image{
    width:280px;
    height:500px;
}

.main_cover_screenshot_image{
    margin-right:100px;
    margin-left:300px;
}

.cover_screen_data_container{
    margin-top:80px;
}

.cloud1{
    width:70px;
    height:70px;
}

.screen_content_image{
    margin-bottom:25px;
}

.screen_content_heading{
    margin-bottom:20px;
}

.screen_content_text{
    height:100px;
    width:300px;
}

#middle_sub_continer2{
    margin-left:100px;
}

.cover_screen_data_container2{
    margin-top:80px;
    margin-left:200px;
}


#review_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align: center;
    color:#668cff;
}

#review_text_para{
    margin-top:10px;
    text-align:center;
    
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;  
    align-content: justify;
    font-size: 15px; 
}

#screenshot_container{
    margin-bottom:70px;
    margin-top:100px;
    margin-left:375px;
    width:500px;   
}


.testimonials{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.padding-top-down{
    padding-top: 50px;
    padding-bottom:40px;
}

.testimonial1{
    width:400px;
    
}

.testimonial2{
    width:400px;
}

.tesimonial_heading_text{
    font-family: serif;
    font-weight:580;
    font-size:20px;
}

.testimonial_by{
    margin-top:10px;
}

.download_container{
   background-image: url("../images/downloadbg.png");
    display: flex;
    justify-content:space-between;
    /*background:#668cff;*/
    background-repeat: repeat;
    width:100%;
    height:400px;
    overflow: hidden;
}

#download_content{
    margin-top:100px;
    margin-left:150px;
    margin-right: 100px;

}

#download_heading_text{
    font-family: 'Times New Roman', Times, serif;
    color:white;

}

#download_text{
    margin-bottom: 20px;
    margin-top:20px;
    width:300px;
}
#download_para{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

#download_image{
    height:300px;
    width:500px;
}

.download_image{
    height:100px;
    margin-top:100px;
}

.footer_class{
    padding: 10px;
    background-color: #383A53;
    display: flex;
    justify-content: space-between;
}

#footer_logo_list li{
    display: inline;
    color:white;
}

 #footer_list li{
    display: inline;
    padding-left:10px; 
    color:white;
    
} 

.footer_logo-container{
    float:left;
    width:100px;
}

.footer_menu_list{
    width:300px;
    margin:0 auto;
}

.footer_social_logos{
    width:100px;
    float:right;
}

.padding-left{
    padding-left:150px;
}

.padding-right{
    padding-right: 150px;
}

.footer-padding-up-down{
    padding-top:20px;
    padding-bottom:10px;
}

#footer-ruler{
    width:80%;
    background-color:#383a53c2;
}

#footer-ruler{
    width:50%;
    height:2px;    
    margin:0 auto;
}

#footer{
    background-color:#383A53;
    height:200px;
}

.footer-ruler-container{
    display: flex;
    justify-content: center;
    height:30px;
}

#rights{
    color:gray;
    font-size:12px;
    text-align:center;
}

#right_container{
    margin-bottom: 8px;
}