<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Add employee</title>
</head>
<body>
	<form th:object="${employee}" th:action="@{../employees}" method="post">
		<table>
			<tr>
				<td>First Name:</td>
				<td><input type="text" id="firstName" name="firstName"
					th:field="*{firstName}" /></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" id="lastName" name="lastName"
					th:field="*{lastName}" /></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" id="email" name="email"
					th:field="*{emailId}" /></td>
			</tr>
			<tr>
				<td>Date Of Birth:</td>
				<td><input type="text" th:field="*{dob}" /></td>
			</tr>
			<tr>
				<td>gender:</td>
				<td><select th:field="*{gender}">
						<option value='M'>Male</option>
						<option value='F'>Female</option>
				</select></td>
			</tr>
			<tr>
				<td>Date Of Joining:</td>
				<td><input type="text" th:field="*{dateOfJoining}" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" id="password" name="password"
					th:field="*{password}" /></td>
			</tr>
			<tr>
				<td><label>Job</label></td>
				<td><select th:field="*{jobCode}">
						<option th:each="job : ${jobs}" th:value="${job.id}"
							th:utext="${job.name}" />
					</select>
				</td>
			</tr>
			<tr>
				<td><label>project</label></td>
				<td><select th:field="*{projectId}">
						<option th:each="project : ${projects}" th:value="${project.id}"
							th:utext="${project.name}" />
				</select></td>
			</tr>
			<tr>
				<td><label>Team leader</label></td>
                <td> <select th:field="*{teamLead}">
                    <option value=""> -- </option>
                    <option th:each="employee : ${teamleaders}"
                       th:value="${employee.empCode}"
                       th:utext="${employee.firstName}"/>
           		 </select>
           		 </td>
            </tr>
            <tr>
            	<td><label>Manager</label></td>
                 <td><select th:field="*{reportingManager}">
                    <option value=""> -- </option>
                    <option th:each="employee : ${managers}"
                       th:value="${employee.empCode}"
                       th:utext="${employee.firstName}"/>
            </select></td>
			</tr>
			<tr>
				<td><input type="submit" value="Save Employee" /></td>
			</tr>
		</table>
	</form>
</body>
</html>