<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>Employees</title>
</head>
<body>
<div class="container">
	  <a th:href="@{employees/add}"> Add Employee </a>
    <div th:if="${not #lists.isEmpty(employees)}">
        <h2>All Employees</h2>
        <table class="table table-striped" >
            <tr>
                <th width=10%>Id</th>
                <th width=20%>Name</th>
                <th width=20%>Email Id</th>
                <th width=15%>Date Of Birth</th>
                <th width=15%>Date Of Joining</th>
                <th width=5%>Gender</th>
                <th width=15%>Contact</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.empCode}" align="center">Id</td>
                <td th:text="${employee.firstName}" align="center"> Name</td>
                <td th:text="${employee.emailId}" align="center">Email Id</td>
                <td th:text="${employee.dob}" align="center">Date Of Birth</td>
                <td th:text="${employee.dateOfJoining}" align="center">Date Of Joining</td>
                <td th:text="${employee.gender}" align="center">Gender</td>
                <td th:text="${employee.contactNumber}" align="center">Contact</td>
                <td><a th:href="${'employees/enable?empCode=' + employee.empCode}" class="btn btn-default">Enable</a></td>
                <td><a th:href="${'employees/disable?empCode=' + employee.empCode}" class="btn btn-danger">Disable</a></td>
            </tr>
        </table>
    </div>
</div>	
</body>
</html>